.loginbtn {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    /* padding: 20px 10px; */
    width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    background: #201f1d;
    border: 1px solid #201f1d;
    text-align: center;
    font-weight: 500;

}

/* .loginbtn:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
} */

.loginbtn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.loginbtn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: transparent;
    border-radius: 5px;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.loginbtn:hover {
    color: #201f1d;
    border: 1px solid #201f1d;
    font-weight: 500;
}

.loginbtn:hover:before {
    top: -35%;
    background-color: white;
    color: #201f1d;
    font-weight: 500;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.loginbtn:hover:after {
    top: -45%;
    background-color: white;
    color: #201f1d;
    font-weight: 500;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}


.signup {
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #ffffff;
    /* padding: 20px 10px; */
    width: 120px;
    height: 45px;
    font-size: 16px;
    border-radius: 5px;
    background: #FFA633;
    border: 1px solid #FFA633;
    text-align: center;
    font-weight: 500;

}

/* .signup:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5,
        inset -4px -4px 12px #ffffff;
} */

.signup:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.signup:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: transparent;
    border-radius: 5px;
    display: block;
    transition: all 0.1s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.signup:hover {
    color: #FFA633;
    border: 1px solid #FFA633;
    font-weight: 500;
}

.signup:hover:before {
    top: -35%;
    background-color: white;
    color: #FFA633;
    font-weight: 500;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.signup:hover:after {
    top: -45%;
    background-color: white;
    color: #FFA633;
    font-weight: 500;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}